name: wicket_lk_new
description: A new Flutter project for cricket-related features.
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  flutter_dotenv: ^5.1.0
  fl_chart: ^1.1.1

  firebase_auth: ^5.0.0
  supabase_flutter: ^2.6.0
  provider: ^6.1.2
  
  # Add your dependencies below
  # Example:
  # provider: ^6.0.0


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
    # Add asset folders or files here if needed
    # - assets/images/